<style>
    .itext
    {
        width: 50px;
        margin: 0px !important;
        height: 13px !important;
    }
</style>
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>损益预算</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a><a href="#portlet-config" data-toggle="modal"
                        class="config"></a><a href="javascript:;" class="reload"></a><a href="javascript:;"
                            class="remove"></a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                项目
                            </th>
                            <th>
                                1月
                            </th>
                            <th>
                                2月
                            </th>
                            <th>
                                3月
                            </th>
                            <th>
                                4月
                            </th>
                            <th>
                                5月
                            </th>
                            <th>
                                6月
                            </th>
                            <th>
                                7月
                            </th>
                            <th>
                                8月
                            </th>
                            <th>
                                9月
                            </th>
                            <th>
                                10月
                            </th>
                            <th>
                                11月
                            </th>
                            <th>
                                12月
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                销售数量
                            </td>
                            <td>
                                <input type="text" class="itext" id="xssl1" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xssl2" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xssl3" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xssl4" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xssl5" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xssl6" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xssl7" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xssl8" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xssl9" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xssl10" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xssl11" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xssl12" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                新车销售数量
                            </td>
                            <td>
                                <input type="text" class="itext" id="xcxssl1" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xcxssl2" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xcxssl3" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xcxssl4" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xcxssl5" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xcxssl6" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xcxssl7" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xcxssl8" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xcxssl9" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xcxssl10" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xcxssl11" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="xcxssl12" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                维修进场台次
                            </td>
                            <td>
                                <input type="text" class="itext" id="wxjctc1" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="wxjctc2" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="wxjctc3" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="wxjctc4" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="wxjctc5" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="wxjctc6" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="wxjctc7" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="wxjctc8" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="wxjctc9" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="wxjctc10" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="wxjctc11" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="wxjctc12" />
                            </td>
                        </tr>
                        <tr id="tr_fqsl">
                            <td>
                                分期数量
                            </td>
                            <td>
                                <input type="text" class="itext" id="fqsl1" readonly="readonly" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="fqsl2" readonly="readonly" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="fqsl3" readonly="readonly" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="fqsl4" readonly="readonly" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="fqsl5" readonly="readonly" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="fqsl6" readonly="readonly" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="fqsl7" readonly="readonly" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="fqsl8" readonly="readonly" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="fqsl9" readonly="readonly" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="fqsl10" readonly="readonly" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="fqsl11" readonly="readonly" />
                            </td>
                            <td>
                                <input type="text" class="itext" id="fqsl12" readonly="readonly" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button class="btn tooltips" data-placement="top" data-original-title="Tooltip in top">
            Top</button>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
@section scripts{
        $(function () {
            $("#tr_fqsl td:text").val()
        });
}
