<style>
    .itext
    {
        width: 50px;
        margin: 0px !important;
        height: 10px !important;
    }
</style>
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>损益预算</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a><a href="#portlet-config" data-toggle="modal"
                        class="config"></a><a href="javascript:;" class="reload"></a><a href="javascript:;"
                            class="remove"></a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                项目
                            </th>
                            <th>
                                1月
                            </th>
                            <th>
                                2月
                            </th>
                            <th>
                                3月
                            </th>
                            <th>
                                4月
                            </th>
                            <th>
                                5月
                            </th>
                            <th>
                                6月
                            </th>
                            <th>
                                7月
                            </th>
                            <th>
                                8月
                            </th>
                            <th>
                                9月
                            </th>
                            <th>
                                10月
                            </th>
                            <th>
                                11月
                            </th>
                            <th>
                                12月
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                销售数量
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                        </tr>
                        <tr id="tr_xinchexiaoshoushuliang">
                            <td>
                                新车销售数量
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                维修进场台次
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                            <td>
                                <input type="text" class="itext" />
                            </td>
                        </tr>
                        <tr id="tr_fenqishuliang" class="readonly">
                            <td>
                                分期数量
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_xinbaoshuliang" class="readonly">
                            <td>
                                新保数量
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_xubaoshuliang" class="readonly">
                            <td>
                                续保数量
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_yanbaoshuliang">
                            <td>
                                延保数量
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_guapaishuliang" class="readonly">
                            <td>
                                挂牌数量
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_ershouchexiaoshoushuliang" class="readonly">
                            <td>
                                二手车销售数量
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_zhuyingyewushouru" class="readonly">
                            <td>
                                主营业务收入
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_zhengche" class="readonly">
                            <td>
                                整车
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_shouhouweixiu" class="readonly">
                            <td>
                                售后维修
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_weixiupeijian">
                            <td>
                                维修配件
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_gongshi">
                            <td>
                                工时
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_zhuangshizhuanghuang" class="readonly">
                            <td>
                                装饰装潢
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_yongjin" class="readonly">
                            <td>
                                佣金
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_fenqi" class="readonly">
                            <td>
                                分期
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_baoxian" class="readonly">
                            <td>
                                保险
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_xinbao" class="readonly">
                            <td>
                                新保
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_xubao" class="readonly">
                            <td>
                                续保
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_yanbao">
                            <td>
                                延保
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_guapai" class="readonly">
                            <td>
                                挂牌
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_ershouche" class="readonly">
                            <td>
                                二手车
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_qita">
                            <td>
                                其他
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_jian_zhuyingyewuchengben" class="readonly">
                            <td>
                                减：主营业务成本
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_jian_zhengche" class="readonly">
                            <td>
                                整车
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_jian_shouhouweixiu" class="readonly">
                            <td>
                                售后维修
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_jian_weixiupeijian" class="readonly">
                            <td>
                                维修配件
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_jian_weixiupeijian" class="readonly">
                            <td>
                                工时
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                        <tr id="tr_jian_zhuangshizhuanghuang" class="readonly">
                            <td>
                                装饰装潢
                            </td>
                            <td>
                                <input type="text" class="itext" row="1" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="2" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="3" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="4" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="5" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="6" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="7" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="8" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="9" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="10" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="11" />
                            </td>
                            <td>
                                <input type="text" class="itext" row="12" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
@section scripts{
    <script>
        var tr_FenQiShuLiang = 0.16;
        var tr_XinBaoShuLiang = 0.88;
        var tr_xubaoshuliang = 0.3;
        var tr_guapaishuliang = 0.35;
        var tr_ershouchexiaoshoushuliang = 0.01;
        var tr_zhengche = 10;
        var tr_zhuangshizhuanghuang = 0.025;
        var tr_fenqi = 0.33;
        var tr_xinbao = 0.068;
        var tr_xubao = 0.058;
        var tr_guapai = 0.085;
        var tr_ershouche = 0.1;
        var tr_jian_zhengche = 0.986;
        var tr_jian_weixiupeijian = 0.8;
        var tr_jian_zhuangshizhuanghuang = 0.6;

        $(function () {
            //只能输入数字和小数点
            $(":text").keyup(function () {
                $(this).val($(this).val().replace(/[^\d.]/g, ""));  //清除“数字”和“.”以外的字符
                $(this).val($(this).val().replace(/^\./g, ""));  //验证第一个字符是数字而不是.
                $(this).val($(this).val().replace(/\.{2,}/g, ".")); //只保留第一个. 清除多余的.
                $(this).val($(this).val().replace(".", "$#$").replace(/\./g, "").replace("$#$", "."));
            });

            //设置只读
            $(".readonly>td :text").attr("readonly", "readonly");

            //获取数值
            function getValue(obj) {
                var value = 0;
                if ($(obj).val().length == 0) {
                    value = 0;
                } else {
                    if (isNaN($(obj).val())) {
                        $(obj).val("0");
                    }
                    value = parseFloat($(obj).val());
                }
                return value;
            }

            //新车销售数量
            $("#tr_xinchexiaoshoushuliang td :text").keyup(function () {
                var value = getValue(this);
                $("#tr_fenqishuliang :text[row='" + $(this).attr("row") + "']").val((value == 0) ? "" : value * tr_FenQiShuLiang).change();
                $("#tr_xinbaoshuliang :text[row='" + $(this).attr("row") + "']").val((value == 0) ? "" : value * tr_XinBaoShuLiang).change();
                $("#tr_xubaoshuliang :text[row='" + $(this).attr("row") + "']").val((value == 0) ? "" : value * tr_xubaoshuliang).change();
                $("#tr_guapaishuliang :text[row='" + $(this).attr("row") + "']").val((value == 0) ? "" : value * tr_guapaishuliang).change();
                $("#tr_ershouchexiaoshoushuliang :text[row='" + $(this).attr("row") + "']").val((value == 0) ? "" : value * tr_ershouchexiaoshoushuliang).change();
                $("#tr_zhengche :text[row='" + $(this).attr("row") + "']").val((value == 0) ? "" : value * tr_zhengche).change();
            });

            //整车
            $("#tr_zhengche td :text").change(function () {
                var value = getValue(this);
                $("#tr_zhuangshizhuanghuang :text[row='" + $(this).attr("row") + "']").val((value == 0) ? "" : value * tr_zhuangshizhuanghuang).change();
                $("#tr_jian_zhengche :text[row='" + $(this).attr("row") + "']").val((value == 0) ? "" : value * tr_jian_zhengche).change();
            });

            //分期数量
            $("#tr_fenqishuliang td :text").change(function () {
                var value = getValue(this);
                $("#tr_fenqi :text[row='" + $(this).attr("row") + "']").val((value == 0) ? "" : value * tr_fenqi);
            });

            //新保数量
            $("#tr_xinbaoshuliang td :text").change(function () {
                var value = getValue(this);
                $("#tr_xinbao :text[row='" + $(this).attr("row") + "']").val((value == 0) ? "" : value * tr_xinbao).change();
            });

            //续保数量
            $("#tr_xubaoshuliang td :text").change(function () {
                var value = getValue(this);
                $("#tr_xubao :text[row='" + $(this).attr("row") + "']").val((value == 0) ? "" : value * tr_xubao).change();
            });

            //挂牌数量
            $("#tr_guapaishuliang td :text").change(function () {
                var value = getValue(this);
                $("#tr_guapai :text[row='" + $(this).attr("row") + "']").val((value == 0) ? "" : value * tr_guapai).change();
            });

            //二手车
            $("#tr_ershouchexiaoshoushuliang td :text").change(function () {
                var value = getValue(this);
                $("#tr_ershouche :text[row='" + $(this).attr("row") + "']").val((value == 0) ? "" : value * tr_ershouche).change();
            });

            //整车,售后维修,装饰装潢（求主营业务收入）
            $("#tr_zhengche td :text,#tr_shouhouweixiu td :text,#tr_zhuangshizhuanghuang td :text").change(function () {
                var v_zhengche = getValue(("#tr_zhengche :text[row='" + $(this).attr("row") + "']"));
                var v_shouhouweixiu = getValue(("#tr_shouhouweixiu :text[row='" + $(this).attr("row") + "']"));
                var v_zhuangshizhuanghuang = getValue(("#tr_zhuangshizhuanghuang :text[row='" + $(this).attr("row") + "']"));
                var v_yongjin = getValue(("#tr_yongjin :text[row='" + $(this).attr("row") + "']"));
                var value = v_zhengche + v_shouhouweixiu + v_zhuangshizhuanghuang + v_yongjin;
                $("#tr_zhuyingyewushouru :text[row='" + $(this).attr("row") + "']").val((value == "0") ? "" : value);
            });

            //新保，续保（求保险）
            $("#tr_xinbao td :text,#tr_xubao td :text").change(function () {
                var v_xinbao = getValue(("#tr_xinbao :text[row='" + $(this).attr("row") + "']"));
                var v_xubao = getValue(("#tr_xubao :text[row='" + $(this).attr("row") + "']"));
                var value = v_xinbao + v_xubao;
                $("#tr_baoxian :text[row='" + $(this).attr("row") + "']").val((value == "0") ? "" : value);
            });

            //分期，保险,延保，挂牌，二手车，其他(求佣金)
            $("#tr_fenqi td :text,#tr_baoxian td :text,#tr_yanbao td :text,#tr_guapai td :text,#tr_ershouche td :text,#tr_qita td :text").change(function () {
                var v_fenqi = getValue(("#tr_fenqi :text[row='" + $(this).attr("row") + "']"));
                var v_baoxian = getValue(("#tr_baoxian :text[row='" + $(this).attr("row") + "']"));
                var v_yanbao = getValue(("#tr_yanbao :text[row='" + $(this).attr("row") + "']"));
                var v_guapai = getValue(("#tr_guapai :text[row='" + $(this).attr("row") + "']"));
                var v_ershouche = getValue(("#tr_ershouche :text[row='" + $(this).attr("row") + "']"));
                var v_qita = getValue(("#tr_qita :text[row='" + $(this).attr("row") + "']"));
                var value = v_fenqi + v_baoxian + v_yanbao + v_guapai + v_ershouche + v_qita;
                $("#tr_yongjin :text[row='" + $(this).attr("row") + "']").val((value == "0") ? "" : value);
            });

            //维修配件,工时
            $("#tr_weixiupeijian td :text,#tr_gongshi td :text").keyup(function () {
                var v_weixiupeijian = getValue(("#tr_weixiupeijian :text[row='" + $(this).attr("row") + "']"));
                var v_gongshi = getValue(("#tr_gongshi :text[row='" + $(this).attr("row") + "']"));
                var value = v_weixiupeijian + v_gongshi;
                $("#tr_shouhouweixiu :text[row='" + $(this).attr("row") + "']").val((value == 0) ? "" : value).change();
                $("#tr_jian_weixiupeijian :text[row='" + $(this).attr("row") + "']").val((v_weixiupeijian == 0) ? "" : v_weixiupeijian * tr_jian_weixiupeijian);
            });


        });

    </script>
}
